
<!-- Sidebar -->
<div class="sidebar-box" [ngClass]="{ 'sidebar-hidden': !isSidebarVisible }">
  <button class="toggle-btn"
    (click)="toggleSidebar()" 
    [ngClass]="{ 'toggle-btn-hidden': !isSidebarVisible }"
    >
    ☰
  </button>
  <div class="sidebar-item">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let item of sideBarList"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item?.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          *ngFor="let menu of item?.children"
          (click)="goToMenuItemDetail(menu?.menuModule, menu.url)"
          class="menu-item"
        >
          <p>{{ menu.title }}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


